html {
    background-color: green
}

#button-area {
    padding: 15px;
    margin-bottom: 10px;
    position: sticky;
    top: 0;
}

.topics {
    margin: 5px 5px;
}

#add-topic-area {
    width: 30%;
    float: right;
    padding: 20px;
}

#giphy-area {
    width: 70%;
    display: none;
    justify-content: left;
    float: left;
}

.giphys {
    float: left;
    background-color: transparent;
    padding: 5px;
}